.App {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.App::-webkit-scrollbar {
    display: none;
}
.content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
